
// Global Colors
// $main:#688E26;
$main:aquamarine;
$comp: aquamarine;
$authbg:#454140;
$dark:#230C0F;
$navbg:#083D77;
$error:red;
$white:ghostwhite;
// $light:#EBEBD3;
$light:#8B8BAE;
$homebg: rgba(0,0,0,.2);
$button: ghostwhite;

body {
    margin: 0;
    padding: 0;
    font-family: 'Saira', sans-serif;
}

.error{
    color:$error;
    font-style: italic;
    margin:0 0 7px 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    &:visited{
        color:inherit;
    }
    &:hover{
        color:$main;
    }
}

button{
    cursor:pointer;
    margin-top:10px;
    align-self: flex-end;
    width:50px;
    height:30px;
    background: none;
    color: $button;
    border:none;
    &:hover{
        background: lightblue;
        color:white;
    }
    &:active{
        outline:none;
    }
    &:focus{
        outline:none;
    }
}